* {
  margin: 0;
}

:root {
  --bg: #FFFFFF;
  --gradient: rgba(0, 0, 0, 0.075);
  --bgimg: url('https://quique.gq/assets/bgscroll_2x.png');
  --border: #000000;
  --hr: #EEEEEE;
  --text: #000000;
  --link: #0000FF;
}

body {
  background: var(--bgimg);
  font-family: 'Verdana', monospace;
  font-size: 18px;
  color: var(--text);
  text-align: center;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 4px;
}

a {
  color: var(--text);
}

a:hover {
  color: var(--link);
}

main {
  min-height: calc(100vh - 44px);
}

header {
  margin-bottom: 8px;
  text-align: left;
}

footer {
  height: 40px;
}

header, footer {
  background: linear-gradient(rgba(0, 0, 0, 0), var(--gradient)), var(--bg);
  min-width: 100%;
}

nav > ul {
  padding: 0;
  margin-bottom: 8px;
  list-style-type: none;
}

nav > ul > li {
  padding: 0 8px 0 8px;
  display: inline-block;
}

nav > ul > li > a {
  border-bottom: 1px solid;
  border-bottom-color: var(--border);
  text-decoration: none;
}

nav > ul > li > a:hover {
  border-bottom-color: var(--link);
}

p {
  margin: 8px;
}

hr {
  border-color: var(--hr);
  margin: auto;
  width: 99%;
}

.noscript {
  background: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 64px;
}

.flexContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.flexItem {
  border: 1px solid var(--border);
  border-radius: 3px;
  padding: 15px;
  margin: 20px;
  background: var(--bg);
  box-shadow: 1px 1px 4px var(--border);
  width: 225px;
  height: 225px;
  text-align: center;
}

.flexItem > img {
  border: 1px solid var(--border);
  width: 150px;
  height: 150px;
}

.gBlur {
  outline: 3px solid #FF0000;
}

#logo {
  margin: 4px;
  width: 277px;
  height: 120px;
}

#galleryContainer {
  margin: 10px auto 10px auto;
  width: 90%;
}

#gContainer {
  border: none;
  margin: 8px;
  position: relative;
}

#gBlurNote {
  height: 0;
  color: #FF0000;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  font-weight: bold;
  transform: translateY(-50px);
}

#gInstructions {
  margin: auto;
  width: 80%;
}
