* {
  margin: 0;
  transition: 0.01s ease-in-out;
}

:root {
  --bg: #FFFFFF;
  --gradient: rgba(0, 0, 0, 0.075);
  --bgimg: url('https://quique.gq/assets/bgscroll_2x.png');
  --border: #000000;
  --hr: #EEEEEE;
  --text: #000000;
  --link: rgba(0, 0, 0, 0.5);
  --svgoutline: 'rgba(0, 0, 0, 0)';
}

body {
  background: var(--bgimg), var(--bg);
  font-family: 'Verdana', monospace;
  font-size: 18px;
  color: var(--text);
  text-align: center;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 4px;
}

a {
  display: inline-block;
  color: var(--text);
}

a.hover:hover {
  transform: translateY(-4px) scale(1.1);
}

a, a:hover {
  transition: 0.1s ease-in-out;
}

.au {
  border-bottom: 1px solid;
  border-bottom-color: var(--border);
  text-decoration: none;
}

.svgOutline {
  filter: drop-shadow(1px 1px 0 var(--svgoutline)) drop-shadow(-1px 1px 0 var(--svgoutline)) drop-shadow(1px -1px 0 var(--svgoutline)) drop-shadow(-1px -1px 0 var(--svgoutline));
}

#mainContent {
  min-height: calc(100vh - 41px);
}

header {
  margin-bottom: 8px;
  position: relative;
  text-align: left;
  overflow: hidden;
}

footer {
  height: 40px;
}

header, footer {
  background: linear-gradient(rgba(0, 0, 0, 0), var(--gradient)), var(--bg);
}

main, header, footer {
  display: inline-block;
  min-width: 100%;
}

.ilList {
  padding: 0;
  margin-bottom: 8px;
  list-style-type: none;
}

.ilList > li {
  padding: 0 8px 0 8px;
  display: inline-block;
}

p {
  margin: 8px;
}

hr {
  border-color: var(--hr);
  margin: auto;
  width: 99%;
}

.noscript {
  background: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 64px;
}

.ibContent {
  margin: auto;
  display: inline-block;
}

.themeCheckbox {
  appearance: none;
  outline: none;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), var(--gradient)), var(--bg);
  border-radius: 10px;
  padding: 4px;
  font-family: 'Verdana', monospace;
  font-size: 18px;
  color: var(--text);
  transform: translateY(-6px);
}

.themeCheckbox:not(:checked)::before {
  content: 'Theme 🌞';
}

.themeCheckbox:checked::before {
  content: 'Theme 🌚';
}

.flexContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.flexItem {
  background: var(--bg);
  border: 1px solid var(--border);
  border-radius: 3px;
  padding: 15px;
  margin: 20px;
  display: block;
  box-shadow: 0 0 6px var(--border);
  width: 225px;
  height: 225px;
  text-align: center;
  text-decoration: none;
}

.flexItem > img {
  border: 1px solid var(--border);
  width: 150px;
  height: 150px;
}

.gBlur {
  outline: 3px solid #FF0000;
}

#logo {
  margin: 4px;
  width: 277px;
  height: 120px;
}

#galleryContainer {
  margin: 10px auto 10px auto;
  width: 90%;
}

#gContainer {
  border: none;
  margin: 8px;
  position: relative;
}

#gBlurNote {
  height: 0;
  color: #FF0000;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  font-weight: bold;
  transform: translateY(-50px);
}

#gInstructions {
  margin: auto;
  max-width: 800px;
}
